@keyframes slider {
  0% {
    background-image: url('./image/img-1.jpg');
  }
  25% {
    background-image: url('./image/img-2.jpg');
  }
  50% {
    background-image: url('./image/img-3.jpg');
  }
  75% {
    background-image: url('./image/img-4.jpg');
  }
  100% {
    background-image: url('./image/img-5.jpg');
  }
}
.bg-image {
  animation: slider 10s infinite ease-out;
  background-size: cover;
}

@keyframes slider2 {
  0% {
    background-image: url('./image/img-1.jpg');
  }
  50% {
    background-image: url('./image/img-2.jpg');
  }
  100% {
    background-image: url('./image/img-3.jpg');
  }
}
.bg-image2 {
  animation: slider2 10s ease-in-out infinite;
  background-size: cover;
}

.judul {
  overflow: hidden;
  white-space: nowrap;
  animation: typingAnim 4s steps(27);
}
 
@keyframes typingAnim {
  from {
    width: 0;
  }
 
  to {
    width: 100%;
  }
}